<% include partials/header %>
                <li><a href="/mercury">Mercury</a></li>
                <li><a href="/venus">Venus</a></li>
                <li class="active"><a href="/earth">Earth</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="display-2"> Welcome to Earth! </h1>  
    <img class="center" src="/img/earth.jpg" alt="The only rock that matters.">
    <p class="container-fluid">Earth. Home. The only planet that humans know that is able to support life.
     The Earth has gone through six major extinction events. Ninety-nine percent (99%) of all life that 
     has ever existed is extinct. Throughout of all of this time, this planet has gone through major climate
     change/cycles. Now, humans may be responsible for the current climate change cycle. There are over 7.6 
     billion humans on this planet (and about six in low orbit), and it seems that the Earth has yet to reach
     its carrying capacity for humans.</p>
<% include partials/footer.ejs %>