<% include partials/header.ejs%>
                <li><a href="/mercury">Mercury</a></li>
                <li><a href="/venus">Venus</a></li>
                <li><a href="/earth">Earth</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="display-2"> Welcome to the Solar System Site! </h1>
    
    <img class="img-responsive img-rounded center" src="/img/pic.jpg" alt="The Solar System">
    <h5 class="text-info">Click on a planet to know more about it:</h5>
    
    <a href="/mercury" > Mercury </a> <br>
    <a href="/venus" > Venus </a> <br>
    <a href="/earth" > Earth </a> <br>

<% include partials/footer.ejs %>

