<% include partials/header %>
                <li><a href="/mercury">Mercury</a></li>
                <li class="active"><a href="/venus">Venus</a></li>
                <li><a href="/earth">Earth</a></li>
            </ul>
        </div>
    </nav>
    <h1 class="display-2"> Welcome to Venus! </h1>  
    <img class="center" src="/img/venus.jpg" alt="Second rock from the sun">
    <p class="container-fluid">Venus is the solar system's second planet. Its day is longer than 
    its year. However, compared to Mercury, one day on Venus is just slightly longer than one 
    year. Along with Mercury, Venus does not have any natural moons. Unique to Venus, it actually
     rotates opposite of every other planet! On the surface, you would see the sun rise in the West
      and set in the East.</p>
<% include partials/footer.ejs %>